body{
    overflow-y: scroll;
    background-color: red;
}

@keyframes fadeInHorize {
    0%{
        opacity: 0;
        transform: translateX(20px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}

.fade-in-horize {
    animation: fadeInHorize .8s ease forwards;
}